<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container">
  <div class="row my-5">
    <div class="list-group list-group-flush col-5">
      <a class="list-group-item list-group-item-action"
         href="#" th:href="@{/manager/category-form}">Manage Category</a>
      <a class="list-group-item list-group-item-action"
         href="#" th:href="@{/manager/book-form}">Список книг</a>
    </div>
  </div>

  <table class="table my-5">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Название</th>
      <th scope="col">Автор</th>
      <th scope="col" class="text-center">Возрастное ограничение</th>
      <th scope="col" class="text-center">Ссылка</th>
      <th scope="col" class="text-center">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${booksList}">
      <th scope="row" th:text="${book.getId()}"></th>
      <td th:text="${book.getTitle()}"></td>
      <td th:text="${book.getAuthor()}"></td>
      <td th:text="${book.getAgeLimit()} + '+'" class="text-center"></td>
      <td th:text="${book.getBookURL()}"></td>
      <td>
        <a href="#"
           th:href="@{'/manager/update-book/'+ ${book.getId()}}"
           class="btn btn-info my-2">Обновить</a>
        <br>
        <a href="#"
           th:href="@{'/manager/delete-book/'+ ${book.getId()}}"
           class="btn btn-danger">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 class="text-center">Добавить книгу</h2>

  <div
      style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
    <div class="card">
      <div class="card-block" style="padding: 24px;">
        <form th:action="@{/manager/add-book}" method="post" enctype="multipart/form-data">
          <fieldset>
            <!-- FIXME: ID книги начинается с 1-->
            <div class="form-group">
              <label for="title">Название</label>
              <input type="text" class="form-control" id="title" name="title"
                     placeholder="Моя Книга">
            </div>

            <div class="form-group">
              <label for="author">Автор</label>
              <input type="text" class="form-control" id="author" name="author"
                     placeholder="Иванов И.И.">
            </div>

            <div class="form-group">
              <label for="ageLimit">Возрастное ограничение (цифрой)</label>
              <input type="number" class="form-control" id="ageLimit" name="ageLimit"
                     placeholder="16">
            </div>

            <div class="form-group">
              <label for="bookURL">Ссылка</label>
              <input type="text" class="form-control" id="bookURL" name="bookURL"
                     placeholder="https://...">
            </div>

            <!-- TODO: выбор из селекта, а не ввод ID -->
            <div class="bookTextID">
              <label for="bookTextID">ID текста книги - см. "Отредактированные тексты"</label>
              <input type="number" class="form-control" id="bookTextID" name="bookTextID"
                     placeholder="10">
            </div>

            <div class="archiveID">
              <label for="archiveID">ID архива (необязательно) - см. "Архивы"</label>
              <input type="number" class="form-control" id="archiveID" name="archiveID"
                     placeholder="5">
            </div>

            <div class="bookLayoutID">
              <label for="bookLayoutID">ID разметки книги (необязательно) - см. "Разметка"</label>
              <input type="number" class="form-control" id="bookLayoutID" name="bookLayoutID"
                     placeholder="31">
            </div>

            <div class="form-actions" style="margin-top: 12px;">
              <button type="submit" class="btn btn-success">Добавить</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
