<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments.html :: headerfiles"> </head>
<body>
  <header th:insert="fragments.html :: nav"></header>

  <div class="container">
    <h1 class="display-4 my-2"
        th:text="'Добро пожаловать, ' + ${#authentication.getPrincipal().getFirstName()}"></h1>
    <hr>
    <div class="row">
      <div class="list-group list-group-flush col-5">
        <a class="list-group-item list-group-item-action"
           href="#" th:href="@{/manager/draft-form}">Список черновиков</a>
        <a class="list-group-item list-group-item-action"
           href="#" th:href="@{/manager/edited-text-form}">Список отредактированных работ</a>
        <a class="list-group-item list-group-item-action"
           href="#" th:href="@{/manager/book-form}">Список книг</a>
      </div>
    </div>
  </div>
</body>
</html>
