<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
  <h1 class="display-5">Поступившие работы</h1>

  <div class="d-flex justify-content-start p-2">
    <!--    <a class="list-group-item mr-2" href="#" th:href="@{/allProduct}">Все документы</a>-->
    <a class="list-group-item mr-2" href="#" th:href="@{/}">Книги</a>
    <a class="list-group-item mr-2" href="#" th:href="@{/edited-texts}">Отредактированные тексты</a>
    <a class="list-group-item mr-2" href="#" th:href="@{/drafts}">Черновики</a>
    <!--            <a class="list-group-item mr-2"	th:each="category : ${categoryList}"-->
    <!--               th:text="${category.categoryName}" href="#" th:href="@{'/getProducts/' + ${category.categoryId}}"></a>-->
  </div>

  <div class="row">
    <div class="col-sm-4" th:each="editedText : ${editedTextsList}">
      <div class="card mt-4">
        <div class="card-body">
          <h5 th:text="${editedText.getAuthor()}" class="card-title"></h5>
          <a th:text="${editedText.getTextURL()}" class="card-text"></a>
          <!--                        <a href="#" th:href="@{'~/profile/addToCart/' + ${product.productId}}" class="btn btn-primary">Add to cart</a>-->
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>
