<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">

  <div th:insert="fragments.html :: main-page-nav"></div>

  <div class="d-flex justify-content-between p-2">
    <form th:action="@{/search-books-by-author}" method="get" enctype="multipart/form-data">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Автор</span>
          </div>
          <input type="text" class="form-control" name="author" placeholder="Иванов И.И."
                 aria-label="Default"
                 aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-info my-2">Результаты</button>
        </div>
      </div>
    </form>

    <form th:action="@{/search-books-by-title}" method="get" enctype="multipart/form-data">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Название</span>
          </div>
          <input type="text" class="form-control" name="title" placeholder="Книга"
                 aria-label="Default"
                 aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-info my-2">Результаты</button>
        </div>
      </div>
    </form>

    <form th:action="@{/search-books-by-age-limit}" method="get" enctype="multipart/form-data">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">Возрастное ограничение</span>
          </div>
          <input type="number" class="form-control" name="ageLimit" placeholder="12"
                 aria-label="Default"
                 aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-info my-2">Результаты</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-sm-4" th:each="book : ${booksList}">
      <div class="card mt-4">
        <img src="" class="card-img-top" alt="Book cover">
        <div class="card-body">
          <h5 th:text="${book.getTitle()}" class="card-title"></h5>
          <h6 th:text="${book.getAuthor()}" class="card-text"></h6>
          <p th:text="${book.getAgeLimit()}+'+'" class="card-text"></p>
          <!--                        <a href="#" th:href="@{'~/profile/addToCart/' + ${product.productId}}" class="btn btn-primary">Add to cart</a>-->
        </div>
      </div>
    </div>
  </div>

</div>


<script>
  function randomInteger(min, max) {
    // случайное число от min до (max+1)
    let rand = min + Math.random() * (max + 1 - min);
    return Math.floor(rand);
  }

  let images = document.getElementsByTagName('img');

  for (let i = 0; i < images.length; i++) {
    images[i].src = `https://picsum.photos/200/300?random=${randomInteger(1, 100)}`;
  }

</script>
</body>
</html>
