<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
  <h1 class="display-5">Поступившие работы</h1>

  <div class="d-flex justify-content-start p-2">
    <a class="list-group-item mr-2" href="#" th:href="@{/allProduct}">Все документы</a>
    <!--            <a class="list-group-item mr-2"	th:each="category : ${categoryList}"-->
    <!--               th:text="${category.categoryName}" href="#" th:href="@{'/getProducts/' + ${category.categoryId}}"></a>-->
  </div>

  <div class="row">
    <div class="col-sm-4" th:each="book : ${booksList}">
      <div class="card mt-4">
        <img src="" class="card-img-top" alt="Book cover">
        <div class="card-body">
          <h5 th:text="${book.getTitle()}" class="card-title"></h5>
          <h6 th:text="${book.getAuthor()}" class="card-text"></h6>
          <p th:text="${book.getAgeLimit()}+'+'" class="card-text"></p>
          <!--                        <a href="#" th:href="@{'~/profile/addToCart/' + ${product.productId}}" class="btn btn-primary">Add to cart</a>-->
        </div>
      </div>
    </div>
  </div>

</div>


<script>
  function randomInteger(min, max) {
    // случайное число от min до (max+1)
    let rand = min + Math.random() * (max + 1 - min);
    return Math.floor(rand);
  }

  let images = document.getElementsByTagName('img');

  for (let i = 0; i < images.length; i++) {
    images[i].src = `https://picsum.photos/200/300?random=${randomInteger(1, 100)}`;
  }

</script>
</body>
</html>
